<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>

</head>
<body>
    <h1><i class="fa-solid fa-cart-shopping"></i></h1>
    <header class="header__home">
        <div class="header__home__logo">
            <img src="/images/logo-mercado-liebre.svg">
        </div>
        <div class="header__home__buscador">
            <input type="text" value="Buscar productos, marcas"><br>
           <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <p><b>Comprá en cuotas y sin tarjeta de crédito</b></p>
        </div>
        
        <section class="header__home__seccion__menu">
            <ul> 
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li><br>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul> 
            
        </section>
       <section>
        <button class="header__home__seccion__menu__botonHamburguesa">
            <div class="burger-menu">
                <i class="fas fa-bars">
                </i> 
                </div>
        </button>
       </section>
    </header>
    <main class="main__home">
        <div class="main__home__baner">
            <img src="/images/img-home-banner.jpg" alt="">
        </div>

        <section class="main__home__seccion"><h2>Basado en tu última visita</h2>
            <article class="main__home__seccion__productos">
                <img src="/images/img-cafetera-moulinex.jpg" alt="">

            <p> $6.770 </p>
            <p> 40% OFF</p>
            <h3>Cafetera Moulinex</h3>

            </article>

            <article class="main__home__seccion__productos">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <p> $230.000  </p>
            <p> 20% OFF</p>
            <h3>MacBook Pro 2019</h3>
            
            </article>

            <article class="main__home__seccion__productos">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            
            
            </article>

            <article class="main__home__seccion__productos">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
            
            <p> $23.200  </p>
            <p> 5% OFF</p>
            <h3>SmartTv Samsung 43</h3>

            </article>
         
        </section>
        <section class="main__home__seccion"><h2>Ofertas</h2>
            <article class="main__home__seccion__productos">
                <img src="/images/img-cafetera-moulinex.jpg" alt="">

            <p> $6.770 </p>
            <p> 40% OFF</p>
            <h3>Cafetera Moulinex</h3>

            </article>

            <article class="main__home__seccion__productos">
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <p> $230.000  </p>
            <p> 20% OFF</p>
            <h3>MacBook Pro 2019</h3>
            
            </article>

            <article class="main__home__seccion__productos">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            
            
            </article>

            <article class="main__home__seccion__productos">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
            
            <p> $23.200  </p>
            <p> 5% OFF</p>
            <h3>SmartTv Samsung 43</h3>

            </article>
        </section>
    </main>
    <footer>
        
            <section><h5>Pagá con tarjeta o en efectivo</h5>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p> 
                
            </section>
            <section><h5>Envío gratis desde $ 2.500</h5> <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p> 
                
            </section>
            <section><h5>>Seguridad, de principio a fin</h5>
                <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                </p> 
               
            </section>
            <section><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
                
            </section>
        
    </footer>
</body>
</html>