:root{
    --colorAmarillo: #EAC926;
--colorAzul: #03264C;
--colorCeleste: #1259c3;
--colorGrisOscuro: #666;
--colorGrisClaro: #ebebeb;
--colorVerde: #39b54a;
}


*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Roboto';
}

li{
    list-style: none;
    font-size: 12px;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
    color: #000000;
}
h2{
    font-size: 24px;
    color: var(--colorGrisOscuro);
}
h3{
  font-size: 16px; 
  font-weight: 500; 
  padding: 0 15px 15px 15px;
  display: none;
}


