.header__home{
    background-color:var(--colorAmarillo);
    padding: 10px 0 0 0;
}

/*header*/

.header__home__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding: 10px 0;


    }
.header__home__container__logo{
width: 45%;
}
  
.header__home__container__logo img{
    width: 100%;
    padding: 0;

}

.header__home__container__buscador{
    width: 45%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 6px;

    
}
.header__home__container__buscador input{
    width: 80%;
    text-align:justify;
    color: var(--colorGrisOscuro);
    border: none;
    background-color: #ffffff;
    border-radius: 6px;
    
}
.header__home__container__buscador button{
    width: 15%;
    border: none;
    background-color: #ffffff;
    border-radius: 6px;
}

.header__home__container__compra{
    padding: 10px 0 10px ;
    font-size: 12px;
    text-align: center;

}
.header__home__seccion{
    display: none;
}
.header__home__seccion__menu{
    text-align: center;
}
.header__home__seccion__menu__botonHamburguesa{
    background-color: var(--colorCeleste);
    border-radius: 5px;
    color: #ffffff;
    border: none;
    padding: 10px 12px;
    font-size: 20px;
}
.header__home__baner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    
    
    
}
.header__home__baner img{
    width: 100%;
    margin: 10px 0 0 ;

    
}

/*main*/
     
.main__home{
    width: 100%;
    background-color: var(--colorGrisClaro);
    padding-top: 15px;
  
} 



.main__home__seccion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
    }
    
.main__home__seccion__productos{
    width: 90%;
    margin-bottom: 10px;
    background-color: #ffffff;
    
}
.main__home__seccion h2{
    padding-bottom: 15px;
}
.main__home__seccion__productos__div img{
    width: 100%;

   
}
.main__home__seccion__productos__aside{
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    
}
.main__home__seccion__productos__aside__figure{
    width: 35px;
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    right: 10px;
    

    
   

}
.main__home__seccion__productos__aside__figure i{
   
    font-size: 15px;
    color: var(--colorVerde);
    width: 100%;
    padding: 10px 30px 10px 10px;
}
.main__home__seccion__productos__precio{
    font-size: 18px;
    
}
.main__home__seccion__productos__descuento{
    font-size: 16px;
    color: var(--colorVerde);
    text-transform: lowercase;
    padding-left: 10px;
    
}
/*footer*/
footer p{
    font-size: 12px;
}
.footer__home{
    text-align: center;
    margin: 30px 0;
    }
.footer__home__icono{
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    color: var(--colorCeleste);
    }
.footer__home__copyright{
    text-align: left;
}

@media (min-width:768px){

    /*tablet*/
    .tablet__768{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .header__home__container{
        width: 65%;
        align-items: center;
        padding: 10px 0;
    
    
        }
    .header__home__container__logo{
    width: 60%;
    }
      
    .header__home__container__logo img{
        width: 100%;
        padding: 0;
    
    }
    
    .header__home__container__buscador{
        width: 40%;
        height:30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color:#EAC926 ;
        border-radius: none;
    
        
    }
    .header__home__container__buscador input{
        width: 75%;
        text-align:start;
        color: var(--colorGrisOscuro);
        border: 1 solid #ffffff;
        background-color: #ffffff;
        border-radius: 6px;
        
    }
    .header__home__container__buscador button{
        width: auto;
        border: none;
        background-color: #ffffff;
        border-radius: 6px;
    }
    
    .header__home__container__compra{
        width: 35%;
        padding: 10px 0 10px ;
        font-size: 12px;
        text-align: center;
    
    }


    .header__home__seccion{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 15px;
        }

        .lista__desordenada__768{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 40%;
        }
    .header__home__seccion__menu{
            display: none;
        }
    h3{
            display: block;
          }
    .main__home__seccion{
            justify-content:space-around;
            
            }
    .main__home__seccion h2{
        width: 100%;
        text-align: center;
    }
    .main__home__seccion__productos{
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
            
        }

}

@media (min-width:1024px){
    
.main__home__seccion__productos{
    width: 22%;   
    }
    }